<div>
  <p>Searching similar images:</p>
  <img *ngIf="fileToUpload" [src]="fileToUpload"/>
</div>
<div>
  <div>
    <label for="threshold">Threshold</label>
    <input id="threshold" type="number" value="0.899" (change)="changeThreshold($event)"/>
<br>
    <label for="image">Image</label>
    <input id="image" type="file" accept="image/*"
           (change)="handleFileInput($event)">
  </div>
  <hr>
  <input type="submit" *ngIf="!searching" value="Search" (click)="search()">
  <div *ngIf="searching">
    Searching..
  </div>
</div>
<ul>
  <li *ngFor="let file of results">{{file}}</li>
</ul>
