<div class="container">
  <div class="row">
    <div class="col-3" *ngIf="fileToUpload">
      <p>Searching similar faces:</p>
      <img [src]="fileToUpload" class="img-thumbnail" alt="Person to search" *ngIf="fileToUpload">
    </div>
    <div class="col mt-2">
      <form>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input id="image" class="form-control-file" type="file" accept="image/*" (change)="handleFileInput($event)">
        </div>
        <div class="mb-3">
          <label for="threshold" class="form-label">Threshold</label>
          <input type="number" class="form-control" id="threshold" value="0.899" (change)="changeThreshold($event)">
        </div>
        <input *ngIf="!searching" class="btn btn-primary btn-block" type="button" value="Search" (click)="search()" [disabled]="fileToUpload == null"/>
        <input *ngIf="!searching" class="btn btn-outline-secondary btn-block" type="button" value="Clear" (click)="clear()" [hidden]="fileToUpload == null"/>
      </form>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col">
      <p *ngIf="searching">Searching (this will take some time)...</p>
      <p *ngIf="searching"><ngb-progressbar [value]="100" [striped]="true" [animated]="true"></ngb-progressbar></p>
    </div>
  </div>

  <div class="row" *ngIf="results.length > 0">
    <div class="col">
      <h1>Search results</h1>
      <div class="row" *ngFor="let file of results">
        <div class="col-2">
          <img [src]="getSafeUrl(file.path)" class="img-thumbnail" alt="result">
        </div>
        <dl class="col-10">
          <dt class="col-sm-3">Link</dt>
          <dd class="col-sm-9"><a href="{{file.path}}" target="_blank">http://localhost/{{file.path}}</a></dd>
          <dt class="col-sm-3">Created</dt>
          <dd class="col-sm-9" *ngIf="file?.createdDate !== null">{{file.createdDate | date:'medium'}}</dd>
          <dt class="col-sm-3">File size</dt>
          <dd class="col-sm-9" *ngIf="file !== undefined && file.fileSize !== undefined">{{file.fileSize / 1024 / 1024 | number:'1.2'}} MB</dd>
          <dt class="col-sm-3">Dimensions</dt>
          <dd class="col-sm-9">{{file.width}}x{{file.height}}</dd>
          <dt class="col-sm-3">Face similarity</dt>
          <dd class="col-sm-9" *ngIf="file.threshold !== undefined"><ngb-progressbar [value]="100 - (file.threshold * 10)" [showValue]="true"></ngb-progressbar></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
