<div class="container">
  <div class="row">
    <div class="col-3" *ngIf="fileToUpload">
      <p>Searching similar faces:</p>
      <img [src]="fileToUpload" class="img-thumbnail" alt="Person to search" *ngIf="fileToUpload">
    </div>
    <div class="col mt-2">
      <form>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input id="image" class="form-control-file" type="file" accept="image/*" (change)="handleFileInput($event)">
        </div>
        <div class="mb-3">
          <label for="threshold" class="form-label">Threshold</label>
          <input type="number" class="form-control" id="threshold" value="0.899" (change)="changeThreshold($event)">
        </div>
        <input *ngIf="!searching" class="btn btn-primary btn-block" type="button" value="Search" (click)="search()" [disabled]="fileToUpload == null"/>
      </form>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col">
      <p *ngIf="searching">Searching (this will take some time)...</p>
      <p *ngIf="searching"><ngb-progressbar [value]="100" [striped]="true" [animated]="true"></ngb-progressbar></p>
    </div>
  </div>

  <div class="row" *ngIf="results.length > 0">
    <div class="col">
      <h1>Search results:</h1>
      <ul>
        <li *ngFor="let file of results">{{file}}</li>
      </ul>
    </div>
  </div>
</div>
